version: '3.9'

services:
  backend:
    build: ./backend
    container_name: backend-app
    restart: always
    ports:
      - "3000:3000"
    environment:
      - MONGO_URI=mongodb://mongo:27017/mi_basedatos
    depends_on:
      - mongo

  mongo:
    image: mongo:6
    container_name: mongo-db
    restart: always
    ports:
      - "27017:27017" 
    environment:
      MONGO_INITDB_DATABASE: mi_basedatos
    volumes:
      - mongo_data:/data/db

volumes:
  mongo_data:
